*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  color: #000000;
  overflow-x: hidden;
}

button {
  padding: 1rem;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
}

.navigation__text {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.navigation__text span {
  color: #2196F3;
}

.navigation {
  align-self: center;
}

.navbar__lists {
  display: flex;
}

.navbar__list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 1rem;
}

.navbar__link {
  list-style: none;
  text-decoration: none;
  color: #000000;
}

.navbar__link:hover {
  padding-bottom: 8px;
  border-bottom: 2px solid #2196F3;
  text-transform: capitalize;
  color: #2196F3;
}

header {
  padding: 1rem;
  background-color: #ffffff;
}

.header__block {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.header__link {
  color: #757575;
  list-style: none;
  text-decoration: none;
}

.header__link:hover {
  color: #2196F3;
}
.header__link:hover svg path {
  fill: #2196F3;
}

main {
  background-color: #ffffff;
  width: 100%;
  color: #ffffff;
  overflow: hidden;
}

.section1 {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin-bottom: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  background-image: url("https://webpulse.imgsmail.ru/imgpreview?mb=webpulse&key=pulse_cabinet-image-1efb29c5-272b-4ffb-9ebf-617ab0130640");
  background-size: 100% 100%;
}

.products__text {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.section2 {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 4px;
  margin-top: 1rem;
  margin-right: 6rem;
  margin-left: 6rem;
  margin-bottom: 2rem;
}

.section2__group_1,
.section2__group_2,
.section2__group_3,
.section2__group_4 {
  padding: 1rem;
  width: calc(25% - 2rem);
}

.block {
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 1rem;
  background-color: #F5F4FA;
}

.block__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.block__title {
  color: #212121;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.block__text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
}

.section3 {
  border-radius: 4px;
  margin-top: 1rem;
  margin-right: 6rem;
  margin-left: 6rem;
  margin-bottom: 2rem;
  font-family: "Roboto", sans-serif;
}

.section3__title,
.section4__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 1.5rem;
  text-align: center;
  letter-spacing: 0.03em;
}

.section3__group {
  display: inline-flex;
  justify-content: space-around;
}

.section3__group_1,
.section3__group_2,
.section3__group_3 {
  padding: 1rem;
  width: calc(33.3333333333% - 1rem);
  display: flex;
  flex-direction: column;
}

.section3__image {
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section3__block {
  background-color: #212121;
  opacity: 0.7;
  padding: 1rem;
  width: 90%;
  transform: translateY(-100%);
}

.section3__group_text {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
}

.section4 {
  background-color: #F5F4FA;
  padding: 2rem;
  padding-left: 4rem;
  margin-bottom: 2rem;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-align: center;
}

.section4__group_2,
.section4__group_3,
.section4__group_4,
.section4__group_5 {
  background-color: #ffffff;
  width: calc(25% - 1rem);
  width: 230px;
  height: 389px;
  left: 215px;
  top: 1785px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section4__image {
  width: 100%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section4__title {
  padding: 1rem;
}

.section4__text {
  color: #000000;
  font-weight: 500;
  padding: 1rem;
}

.section4__text_description {
  color: #757575;
  font-weight: 400;
  padding: 0.5rem;
  padding-bottom: 2rem;
}

.section4__lists {
  display: inline;
  padding: 0.5rem;
}

.section4__lists:hover {
  background-color: #2196F3;
  border-radius: 100px;
  padding: 1rem;
}
.section4__lists:hover svg path {
  fill: #ffffff;
}

.section5 {
  display: inline-flex;
  justify-content: space-around;
  justify-items: center;
  flex-wrap: wrap;
  border-radius: 4px;
  width: 90%;
  margin-right: 6rem;
  margin-left: 6rem;
  margin-bottom: 2rem;
}

.section5__group_1,
.section5__group_2,
.section5__group_3,
.section5__group_4,
.section5__group_5,
.section5__group_6 {
  height: 92px;
  border-radius: 4px;
  border: 1px solid #2F303A;
  width: calc(13.3333333333% - 1rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section5__group_1:hover {
  border-color: #2196F3;
}
.section5__group_1:hover svg path {
  fill: #2196F3;
}

.section5__group_2:hover {
  border-color: #2196F3;
}
.section5__group_2:hover svg path {
  fill: #2196F3;
}

.section5__group_3:hover {
  border-color: #2196F3;
}
.section5__group_3:hover svg path {
  fill: #2196F3;
}

.section5__group_4:hover {
  border-color: #2196F3;
}
.section5__group_4:hover svg path {
  fill: #2196F3;
}

.section5__group_5:hover {
  border-color: #2196F3;
}
.section5__group_5:hover svg path {
  fill: #2196F3;
}

.section5__group_6:hover {
  border-color: #2196F3;
}
.section5__group_6:hover svg path {
  fill: #2196F3;
}

footer {
  background-color: #2F303A;
  padding: 3rem;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.footer__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  transform: translateX(-16%);
}

.footer__text {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 1.5rem;
}

.footer__text span {
  color: #2196F3;
}

.footer__link {
  color: #757575;
  list-style: none;
  text-decoration: none;
  padding-bottom: 1rem;
}

.footer__text_right {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 16px;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
}/*# sourceMappingURL=main.css.map */